/* Global values */
body{
    background-color: #ffc24886;
}

.wrapper{
    max-width: 1260px;
    margin: auto;
}

span,p:hover {
    cursor: help;
}

/* Title & filters */

header{
    min-height: 124px;
    text-align: center;
}

h1{
    font-family: 'Sigmar One', cursive;
    font-size: 4em;
    color: cornflowerblue;
    text-shadow: 3px 3px 5px black;
    margin: 0;
}

#range{
    width: 50px;
}

button{
    font-family: 'Sigmar One', cursive;
    background: #411F13;
    color: goldenrod;
    margin: 2px 2px;
    font-size: 1em;
}

.prev, .next{
    font-size: 1.8em;
}

/* Results section */
#results{
    text-align: center;
}

.card{
    border: 3px solid black;
    background: black;
    text-align: center;
    width: 200px;
    min-height: 216px;
    display: inline-block;
    margin: 2px;
}

.reframe{
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-indent: -35px;
}

.icon{
    height: 200px;
    width: auto;
}

.text{
    font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #411F13;
    color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 5px;
    max-width: 200px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 8px 0 8px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
footer{
    text-align: center;
    width: 100%;
    height: 1rem;
    bottom: 0;
    margin-top: 25vh;
}

footer p{
    margin: 0;
}
